{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "MixrElixr Emotes API",
        "description": "API endpoints for MixrElixr's Emotes",
        "contact": {
            "name": "@MixrElixr"
        }
    },
    "host": "api.mixrelixr.com",
    "basePath": "/v1",
    "schemes": [
        "https",
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/emotes/{channelIdOrName}": {
            "get": {
                "description": "Returns a list of channel emotes, global emotes, and url templates for both emote types.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "channelIdOrName",
                        "in": "path",
                        "description": "The id or name of the channel to get emotes for.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GetEmotesResponse",
                        "schema": {
                            "$ref": "#/definitions/GetEmotesResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found Error",
                        "schema": {
                            "$ref": "#/definitions/NotFoundError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "GetEmotesResponse": {
            "type": "object",
            "properties": {
                "channelId": {
                    "type": "integer"
                },
                "channelEmotes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ElixrEmote"
                    }
                },
                "globalEmotes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ElixrEmote"
                    }
                },
                "channelEmoteUrlTemplate": {
                    "type": "string"
                },
                "globalEmoteUrlTemplate": {
                    "type": "string"
                }
            }
        },
        "ElixrEmote": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                },
                "maxSize": {
                    "type": "integer"
                },
                "animated": {
                    "type": "boolean"
                }
            }
        },
        "NotFoundError": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}